/** @format */

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --mainbg: #4d695d;
  --cardbg: #83a79d;
  --cardc: #dae8e5;
  --mainc: #a1cde5;
  --subc: #bfdeee;
  --gradients: #83a79d, #dae8e5, #bfdeee;}

#homeDiv {
  background-image: linear-gradient(to top right, var(--gradients));
}

#cardImgStyle {
  padding: 10px;
}

#cardStyle {
  background-color: var(--cardbg);
  color: var(--cardc);
  border-radius: 10px !important;
}

#cardStyle:hover {
  box-shadow: 5px 3px 3px black;
}

#movieTitleStyle {
  background-color: var(--cardbg);
  border-radius: 10px;
  padding: 2px;
  margin-left: 5px;
}

#movieDateStyle {
  background-color: var(--cardbg);
  border-radius: 10px;
  padding: 2px;
  margin-left: 5px;
}
