#detailsCard {
width: 100%;
background-color: var(--cardbg);
color: var(--cardc);
padding: 85px 25px;
}

#detailsImg {
width: 50%;
margin: auto;
}

#detailsTitle {
margin: auto;
padding: 8px;
}

#detailsOriginalTitle {
margin: auto;
padding: 15px;

 }

#movieDetailDiv {
    background-color: var(--cardbg);
    margin: 2% 20%;
    border-radius: 10px;
    padding: 10px;
}
